.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product>img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info {
    margin: 0 14px;
}

.product-name {
    font-family: 'lato';
    font-size: 21px;
    font-weight: 400;
    margin-top: 7px;
}

.product-info>p {
    margin: 0 5px;
}

.button-cart {
    width: 100%;
    border: none;
    background: #FFE0B3;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center
}
.button-text {
    margin-right: 5px;
}
.button-cart:hover {
    background-color: orange;
}